*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
--profile: hsl(246, 80%, 60%);
--work: hsl(15, 100%, 70%);
--play: hsl(195, 74%, 62%);
--study: hsl(348, 100%, 68%);
--exercise: hsl(145, 58%, 55%);
--social: hsl(264, 64%, 52%);
--self--care: hsl(43, 84%, 65%);

--very-dark-blue: hsl(226, 43%, 10%);
--dark-blue: hsl(235, 46%, 20%);
--desaturated-blue: hsl(235, 45%, 61%);
--pale-blue: hsl(236, 100%, 87%);
}

body{
    background-color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--very-dark-blue);
    font-family: 'Rubik';
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 4rem;
}

button{
    color: var(--desaturated-blue);
    background-color: transparent;
    font-size: 17px;
    border: none
}

button:hover{
    color: white;
}

.active{
    color: white;
}

/* Profile */
.profile-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    color: white;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    position: relative;
    z-index: 0;
}

.profile-box::before{
    position: absolute;
    content: '';
    z-index: -1;
    background-color: var(--profile);

    top: 0;
    left: 0;
    border-radius: inherit;
    height: 60%;
    width: 100%;
}

.profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-inline: 1rem;
}


.profile img{
    --pw: 60px;
    width: var(--pw);
    height: var(--pw);
    border: 2px solid white;
    border-radius: 50%;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile span{
    font-size: 14px;
    font-weight: 500;
    color: var(--pale-blue);
}

/*----------------------------*/


div[class*="page"] {
    padding-inline: 2rem;
    border-radius: 1rem;
    position: relative;
    padding-block: 3rem 2rem;
    z-index: 0;
    overflow-y: hidden;
    overflow-x: auto;
}
  
div[class*="page"]::before{
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--dark-blue);

    bottom: 0px;
    left: 0px;
    height: 75%;
    width: 100%;
    border-radius: inherit;
}

div[class*="page"]::after{
    content: '';
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;    
    top: -5px;
    left: -20px;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem 1rem;
}

.head h1{
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.head img{
    height: 7px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info #current{
    font-size: 30px;
}
.info p{
    font-size: 14px;
    color: var(--pale-blue);
}

#current{
    font-size: 18px;
    color: white;
}

/*Page*/
.page-work{
    background-color: var(--work);
}
.page-work::after{
    background-image: url(images/icon-work.svg);
}
.page-play{
    background-color: var(--play);
}
.page-play::after{
    background-image: url(images/icon-play.svg);
}
.page-study{
    background-color: var(--study);
}
.page-study::after{
    background-image: url(images/icon-study.svg);
}
.page-exercise{
    background-color: var(--exercise);
}
.page-exercise::after{
    background-image: url(images/icon-exercise.svg);
}
.page-social{
    background-color: var(--social);
}
.page-social::after{
    background-image: url(images/icon-social.svg);
}
.page-self-care{
    background-color: var(--self--care);
}
.page-self-care::after{
    background-image: url(images/icon-self-care.svg);
}

@media (min-width: 768px){
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;

        grid-template-areas: 
        'profile work play study'
        'profile exercise social self-care';
        gap: 0.5rem;
    }

    .profile-box{
        grid-area: profile;
        padding-top: 2rem;
        max-width: 15rem;
    }
    .profile{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-inline: 0;
    }
    ul{
        padding-top: 3rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }


    /*----------------*/

    div[class*="page"]{
        padding-top: 4rem;
        max-width: 15rem;
    }

    .info{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding-top: 0.5rem;
    }

    .head{
        padding-bottom: 0;
    }
    
    .info #current{
        font-size: 40px;
    }
    .profile p{
        font-size: 30px;
    }
    .page-work{
        grid-area: work;
    }
    .page-play{
        grid-area: play;
    }
    .page-study{
        grid-area: study;
    }
    .page-exercise{
        grid-area: exercise;
    }
    .page-social{
        grid-area: social;
    }
    .page-self-care{
        grid-area: self-care;
    }

}